In [1]:
from IPython.display import HTML, display
css_file_path = "../../design/custom.css"
styles = "<link rel='stylesheet' href='%s'>" % css_file_path
display(HTML(styles))

# Python aplicado a la Gestión de Carteras

## DESCARGA DE DATOS

In [2]:
"""
Estas dos líneas ayudan a mejorar la visualización de las gráficas generadas con Matplotlib 
en un Jupyter Notebook, mostrándolas directamente en el cuaderno y optimizando su calidad 
para pantallas de alta resolución.
"""
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

In [4]:
# print(plt.style.available) #list of available styles
plt.style.use('seaborn-v0_8')

plt.rcParams['figure.figsize'] = [16, 9]
plt.rcParams['figure.dpi'] = 100
warnings.simplefilter(action='ignore', category=FutureWarning)

### Descargarse datos financieros

#### 1. Descargarse datos de Yahoo Finance

`yfinance` es una librería de Python que proporciona una interfaz sencilla para acceder y descargar datos financieros de Yahoo Finance. Esta biblioteca facilita la obtención de información detallada sobre precios históricos, datos de acciones, divisas, bonos, índices, etc. Esta librería es directamente compatible con `pandas`, ya que devuelve los datos en formato DataFrame.

Para instalar la libería si fuese necesario:

```pip install yfinance```

In [5]:
import yfinance as yf

In [6]:
# Descargamos los datos de Apple ('AAPL') entre los años 2000 y 2010

data_yahoo = yf.download('AAPL', 
                         start='2000-01-01', # Se indica con el argumento 'start' una fecha de incio (incluida)
                         end='2011-01-01', # Se indica con el argumento 'end' una fecha fin (excluida)
                         progress=False) # El argumento progress = False desactiva la barra de descarga (verbose)

La variable `data_yahoo` es un DataFrame de Pandas con la siguiente información:

* Como índice del DataFrame, **Date**: La fecha a la que se recoge la información
* **Open**: Precio de apertura del activo
* **High**: Precio máximo alcanzado por el activo
* **Low**: Precio mínimo alcanzado por el activo
* **Close**: Precio de cierre del activo
* **Adj Close**: Precio de cierre ajustado por eventos corporativos, como dividendos, splits, etc.
* **Volume**: Número total de transacciones negociadas

Veamos el aspecto que tiene:

In [7]:
data_yahoo.head()

                Open      High       Low     Close  Adj Close     Volume
Date
2000-01-03  0.936384  1.004464  0.907924  0.999442   0.847207  535796800
2000-01-04  0.966518  0.987723  0.903460  0.915179   0.775779  512377600
2000-01-05  0.926339  0.987165  0.919643  0.928571   0.787131  778321600
2000-01-06  0.947545  0.955357  0.848214  0.848214   0.719014  767972800
2000-01-07  0.861607  0.901786  0.852679  0.888393   0.753073  460734400

In [8]:
data_yahoo.tail() # Incluye el 31 de diciembre de 2010

                 Open       High        Low      Close  Adj Close     Volume
Date
2010-12-27  11.530357  11.622857  11.482857  11.595714   9.829453  249816000
2010-12-28  11.639643  11.666429  11.609286  11.623929   9.853370  175924000
2010-12-29  11.650714  11.658929  11.610714  11.617500   9.847920  163139200
2010-12-30  11.624286  11.625357  11.537500  11.559286   9.798571  157494400
2010-12-31  11.533929  11.552857  11.475357  11.520000   9.765273  193508000

In [9]:
data_yahoo.shape # 2767 filas, 6 columnas

(2767, 6)

Lo más común es trabajar con los precios de cierre. Concretamente, vamos a seleccionar la columna de precios ajustados `Adj Close`.

**OBSERVACIÓN:** Hay que tener cuidado con las transformaciones que hacemos sobre el DataFrame. Ojo si lo que seleccionamos es un DataFrame o una Serie.

In [10]:
# Si elijo una sola columna, me devuelve una serie
serie_yahoo = data_yahoo['Adj Close']
serie_yahoo.head()

Date
2000-01-03    0.847207
2000-01-04    0.775779
2000-01-05    0.787131
2000-01-06    0.719014
2000-01-07    0.753073
Name: Adj Close, dtype: float64

In [11]:
# Si elijo una lista de columnas (aunque solo haya una), me devuelve un dataframe con una sola columna
df1_yahoo = data_yahoo[['Adj Close']]
df1_yahoo.head()

            Adj Close
Date
2000-01-03   0.847207
2000-01-04   0.775779
2000-01-05   0.787131
2000-01-06   0.719014
2000-01-07   0.753073

En la celda a continuación, descargamos los datos de varios activos financieros a la vez. Simplemente pasamos a `yf.download` una lista de activos en lugar de solo uno:

In [12]:
activos = ['AAPL', 'MSFT', 'AMZN', 'GOOG', 'TSLA', 'NVDA', 'ADBE', 'NFLX']
df_yahoo = yf.download(activos, 
                       start='2000-01-01', 
                       end='2011-01-01',
                       progress=False)

En este caso, al descargar una lista de activos, yfinance nos devuelve un DataFrame multinivel en las columnas `(atributo, activo)`, donde el primer nivel representa los atributos (open, high, low, close, etc.) y el segundo nivel el activo correspondiente (AAPL, MSFT, etc.):

In [13]:
df_yahoo.head()

           Adj Close                                                           \
                AAPL       ADBE      AMZN GOOG       MSFT NFLX      NVDA TSLA
Date
2000-01-03  0.847207  16.274666  4.468750  NaN  36.132263  NaN  0.894650  NaN
2000-01-04  0.775779  14.909400  4.096875  NaN  34.911713  NaN  0.870762  NaN
2000-01-05  0.787131  15.204173  3.487500  NaN  35.279808  NaN  0.842095  NaN
2000-01-06  0.719014  15.328290  3.278125  NaN  34.098015  NaN  0.787149  NaN
2000-01-07  0.753073  16.072985  3.478125  NaN  34.543610  NaN  0.800288  NaN

               Close             ...      Open          Volume            \
                AAPL       ADBE  ...      NVDA TSLA       AAPL      ADBE
Date                             ...
2000-01-03  0.999442  16.390625  ...  0.984375  NaN  535796800   7384400
2000-01-04  0.915179  15.015625  ...  0.958333  NaN  512377600   7813200
2000-01-05  0.928571  15.312500  ...  0.921875  NaN  778321600  14927200
2000-01-06  0.848214  15.437500  ...  0.917969  NaN  767972800  10221200
2000-01-07  0.888393  16.187500  ...  0.854167  NaN  460734400   8253200


                 AMZN GOOG      MSFT NFLX      NVDA TSLA
Date
2000-01-03  322352000  NaN  53228400  NaN  30091200  NaN
2000-01-04  349748000  NaN  54119000  NaN  30048000  NaN
2000-01-05  769148000  NaN  64059600  NaN  18835200  NaN
2000-01-06  375040000  NaN  54976600  NaN  12048000  NaN
2000-01-07  210108000  NaN  62013600  NaN   7118400  NaN

[5 rows x 48 columns]

Pongamos las tres situaciones posibles como ejercicio:

1. Del DataFrame descargado, muestra el `Open` de todos los activos.
2. Del DataFrame descargado, muestra el `Close` de `'MSFT'`.
3. Del DataFrame descargado, muestra todos los atributos de `'NVDA'`.

In [14]:
# 1. Del DataFrame descargado, muestra el `Open` de todos los activos.

# SOLUCION
solucion_1 = df_yahoo['Open']
solucion_1.head()

,AAPL,ADBE,AMZN,GOOG,MSFT,NFLX,NVDA,TSLA
Date,,,,,,,,
2000-01-03,0.936384,16.812500,4.075000,NaN,58.68750,NaN,0.984375,NaN
2000-01-04,0.966518,15.750000,4.268750,NaN,56.78125,NaN,0.958333,NaN
2000-01-05,0.926339,14.562500,3.525000,NaN,55.56250,NaN,0.921875,NaN
2000-01-06,0.947545,15.359375,3.565625,NaN,56.09375,NaN,0.917969,NaN
2000-01-07,0.861607,15.390625,3.350000,NaN,54.31250,NaN,0.854167,NaN

In [15]:
# 2. Del DataFrame descargado, muestra el `Close` de 'MSFT'.

# SOLUCION
solucion_2 = df_yahoo['Close', 'MSFT']
solucion_2.head()

Date
2000-01-03    58.28125
2000-01-04    56.31250
2000-01-05    56.90625
2000-01-06    55.00000
2000-01-07    55.71875
Name: (Close, MSFT), dtype: float64

In [16]:
# 3. Del DataFrame descargado, muestra todos los atributos de 'NVDA'.

# SOLUCION
L = [x for x in df_yahoo.columns if x[1] == 'NVDA']
solucion_3 = df_yahoo[L]
solucion_3.columns = solucion_3.columns.droplevel(1) # Prueba a comentar esta línea. ¿Qué sucede?
solucion_3.head()

            Adj Close     Close      High       Low      Open    Volume
Date
2000-01-03   0.894650  0.975260  0.992188  0.919271  0.984375  30091200
2000-01-04   0.870762  0.949219  0.960938  0.901042  0.958333  30048000
2000-01-05   0.842095  0.917969  0.937500  0.904948  0.921875  18835200
2000-01-06   0.787149  0.858073  0.917969  0.822917  0.917969  12048000
2000-01-07   0.800288  0.872396  0.881510  0.841146  0.854167   7118400

<hr>

#### 2. Descargarse datos de Quandl

`quandl` es una plataforma que proporciona acceso a una amplia gama de datos financieros y económicos de diferentes fuentes. La librería Quandl para Python ofrece una interfaz sencilla para acceder a estos datos desde la plataforma. Al igual que `yfinance`, esta librería es directamente compatible con `pandas`, ya que devuelve los datos en formato DataFrame.

Para instalar las liberías si fuese necesario:

```
pip install quandl

```

In [19]:
import quandl as ql

In [20]:
### PREGUNTA: ¿Cómo saber qué hay que poner en dataset para descargar?
### PREGUNTA: ¿Qué significan ex-dividend y split ratio?

In [21]:
# Descargamos los datos de Apple ('WIKI/AAPL') entre los años 2000 y 2010

df_quandl = ql.get(dataset='WIKI/AAPL',
                   start_date='2000-01-01', # Se indica con el argumento 'start_date' una fecha de incio (incluida)
                   end_date='2010-12-31') # Se indica con el argumento 'end_date' una fecha fin (OJO! incluida!)

La variable `df_quandl` es un DataFrame de Pandas con la siguiente información:

* Como índice del DataFrame, **Date**: La fecha a la que se recoge la información
* **Open**: Precio de apertura del activo
* **High**: Precio máximo alcanzado por el activo
* **Low**: Precio mínimo alcanzado por el activo
* **Close**: Precio de cierre del activo
* **Volume**: Número total de transacciones negociadas
* **Ex-Dividend**: Periodo durante una acción se negocia sin el derecho al próximo dividendo
* **Split Ratio**: Proporción en la que se dividen las acciones
* **Adj. Open**: Precio de apertura ajustado por eventos corporativos, como dividendos, splits, etc.
* **Adj. High**: Precio máximo ajustado por eventos corporativos, como dividendos, splits, etc.
* **Adj. Low**: Precio mínimo ajustado por eventos corporativos, como dividendos, splits, etc.
* **Adj. Close**: Precio de cierre ajustado por eventos corporativos, como dividendos, splits, etc.
* **Adj. Volume**: Número total de transacciones ajustadas

Veamos el aspecto que tiene:

In [22]:
df_quandl.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2000-01-03,104.87,112.50,101.69,111.94,4783900.0,0.0,1.0,3.369314,3.614454,3.267146,3.596463,133949200.0
2000-01-04,108.25,110.62,101.19,102.50,4574800.0,0.0,1.0,3.477908,3.554053,3.251081,3.293170,128094400.0
2000-01-05,103.75,110.56,103.00,104.00,6949300.0,0.0,1.0,3.333330,3.552125,3.309234,3.341362,194580400.0
2000-01-06,106.12,107.00,95.00,95.00,6856900.0,0.0,1.0,3.409475,3.437748,3.052206,3.052206,191993200.0
2000-01-07,96.50,101.00,95.50,99.50,4113700.0,0.0,1.0,3.100399,3.244977,3.068270,3.196784,115183600.0

In [23]:
df_quandl.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2010-12-27,322.8519,325.44,321.52,324.68,8922000.0,0.0,1.0,41.490969,41.823576,41.319801,41.725905,62454000.0
2010-12-28,325.9102,326.66,325.06,325.47,6283000.0,0.0,1.0,41.884003,41.980363,41.774741,41.827431,43981000.0
2010-12-29,326.2200,326.45,325.10,325.29,5826400.0,0.0,1.0,41.923817,41.953375,41.779881,41.804299,40784800.0
2010-12-30,325.4800,325.51,323.05,323.66,5624800.0,0.0,1.0,41.828716,41.832572,41.516428,41.594821,39373600.0
2010-12-31,322.9500,323.48,321.31,322.56,6911000.0,0.0,1.0,41.503576,41.571689,41.292813,41.453456,48377000.0

In [24]:
df_quandl.shape # 2767 filas, 12 columnas

(2767, 12)

A partir de aquí, la metodología de trabajo es equivalente a trabajar con los datos de `yfinance` como en el apartado anterior. Sin embargo, hay una diferencia respecto a descargar un conjunto de activos:

In [25]:
# Descargamos los datos de Apple ('WIKI/AAPL') y Microsoft ('WIKI/MSFT') entre los años 2000 y 2010

activos = ["WIKI/AAPL", "WIKI/MSFT"]

df_quandl = ql.get(dataset=activos,
                   start_date='2000-01-01', # Se indica con el argumento 'start_date' una fecha de incio (incluida)
                   end_date='2010-12-31') # Se indica con el argumento 'end_date' una fecha fin (OJO! incluida!)

Aunque la descarga de los datos es equivalente a `yfinance`, en este caso no se genera un DataFrame multinivel en las columnas como antes. Con la librería Quandl, se define una columna por cada `activo - atributo`, veámoslo:

In [26]:
df_quandl.head()

,WIKI/AAPL - Open,WIKI/AAPL - High,WIKI/AAPL - Low,WIKI/AAPL - Close,WIKI/AAPL - Volume,WIKI/AAPL - Ex-Dividend,WIKI/AAPL - Split Ratio,WIKI/AAPL - Adj. Open,WIKI/AAPL - Adj. High,WIKI/AAPL - Adj. Low,...,WIKI/MSFT - Low,WIKI/MSFT - Close,WIKI/MSFT - Volume,WIKI/MSFT - Ex-Dividend,WIKI/MSFT - Split Ratio,WIKI/MSFT - Adj. Open,WIKI/MSFT - Adj. High,WIKI/MSFT - Adj. Low,WIKI/MSFT - Adj. Close,WIKI/MSFT - Adj. Volume
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,104.87,112.50,101.69,111.94,4783900.0,0.0,1.0,3.369314,3.614454,3.267146,...,112.00,116.56,26614200.0,0.0,1.0,39.066089,39.482146,37.278708,38.796484,53228400.0
2000-01-04,108.25,110.62,101.19,102.50,4574800.0,0.0,1.0,3.477908,3.554053,3.251081,...,112.25,112.62,27059500.0,0.0,1.0,37.797947,38.982878,37.361920,37.485073,54119000.0
2000-01-05,103.75,110.56,103.00,104.00,6949300.0,0.0,1.0,3.333330,3.552125,3.309234,...,109.37,113.81,32029800.0,0.0,1.0,36.985804,38.733244,36.403324,37.881159,64059600.0
2000-01-06,106.12,107.00,95.00,95.00,6856900.0,0.0,1.0,3.409475,3.437748,3.052206,...,108.37,110.00,27488300.0,0.0,1.0,37.341949,37.901130,36.070479,36.613017,54976600.0
2000-01-07,96.50,101.00,95.50,99.50,4113700.0,0.0,1.0,3.100399,3.244977,3.068270,...,107.31,111.44,31006800.0,0.0,1.0,36.153690,37.361920,35.717662,37.092315,62013600.0

Pongamos las tres situaciones posibles como ejercicio:

1. Del DataFrame descargado, muestra el `Open` de todos los activos.
2. Del DataFrame descargado, muestra el `Close` de `'MSFT'`.
3. Del DataFrame descargado, muestra todos los atributos de `'AAPL'`.

In [27]:
# 1. Del DataFrame descargado, muestra el `Open` de todos los activos.

# SOLUCION
L = [x for x in df_quandl.columns if "Open" in x and "Adj." not in x]
solucion_1 = df_quandl[L]
solucion_1.head()

            WIKI/AAPL - Open  WIKI/MSFT - Open
Date
2000-01-03            104.87            117.37
2000-01-04            108.25            113.56
2000-01-05            103.75            111.12
2000-01-06            106.12            112.19
2000-01-07             96.50            108.62

In [28]:
# 2. Del DataFrame descargado, muestra el `Close` de 'MSFT'.

# SOLUCION
solucion_2 = df_quandl["WIKI/MSFT - Close"]
solucion_2.head()

Date
2000-01-03    116.56
2000-01-04    112.62
2000-01-05    113.81
2000-01-06    110.00
2000-01-07    111.44
Name: WIKI/MSFT - Close, dtype: float64

In [29]:
# 3. Del DataFrame descargado, muestra todos los atributos de 'AAPL'.

# SOLUCION
L = [x for x in df_quandl.columns if "AAPL" in x]
solucion_3 = df_quandl[L]
solucion_3.head()

,WIKI/AAPL - Open,WIKI/AAPL - High,WIKI/AAPL - Low,WIKI/AAPL - Close,WIKI/AAPL - Volume,WIKI/AAPL - Ex-Dividend,WIKI/AAPL - Split Ratio,WIKI/AAPL - Adj. Open,WIKI/AAPL - Adj. High,WIKI/AAPL - Adj. Low,WIKI/AAPL - Adj. Close,WIKI/AAPL - Adj. Volume
Date,,,,,,,,,,,,
2000-01-03,104.87,112.50,101.69,111.94,4783900.0,0.0,1.0,3.369314,3.614454,3.267146,3.596463,133949200.0
2000-01-04,108.25,110.62,101.19,102.50,4574800.0,0.0,1.0,3.477908,3.554053,3.251081,3.293170,128094400.0
2000-01-05,103.75,110.56,103.00,104.00,6949300.0,0.0,1.0,3.333330,3.552125,3.309234,3.341362,194580400.0
2000-01-06,106.12,107.00,95.00,95.00,6856900.0,0.0,1.0,3.409475,3.437748,3.052206,3.052206,191993200.0
2000-01-07,96.50,101.00,95.50,99.50,4113700.0,0.0,1.0,3.100399,3.244977,3.068270,3.196784,115183600.0

<hr>

#### 3. Descargarse datos de AlphaVantage

AlphaVantage es una plataforma que proporciona datos financieros y servicios relacionados con el mercado. En lugar de utilizar un paquete de python, esta herramienta ofrece una **API** (Interfaz de Programación de Aplicaciones) que permite a los desarrolladores acceder mediante el protocolo HTTP a los datos, sea cual sea el lenguaje de programación. 

Una **API** es una herramienta de comunicación entre diferentes aplicaciones, normalmente mediante servicios web. Se basa en la transferencia de información entre cliente y servidor. Utiliza el protocolo HTTP estándar (GET, POST, PUT, DELETE) para realizar acciones como leer, crear, actualizar y eliminar recursos.

En este caso, la API de AlphaVantage nos proporciona acceso a datos financieros y servicios relacionados con el mercado. Para poder lanzar peticiones HTTP con Python a la API necesitamos la librería `requests`.

In [30]:
import requests

Para lanzar consultas a la API de AlphaVantage necesitamos una `key`. Sin embargo, es un servicio gratuito que podéis conseguir en menos de 1 minuto pinchando [aquí](https://www.alphavantage.co/support/#api-key). La web os genera una clave de acceso con el aspecto siguiente:

*ABCDEFGHIJKLMNOP*

Lo ideal es que guardéis esa clave en vuestro ordenador personal, en un fichero seguro. Entonces, para recuperar la clave, podemos ejecutar el siguiente código:

In [34]:
######################################################
#### ESTO POR AHORA NO ES NECESARIO. ¿BORRAR?
######################################################

# Specify the path to the file containing your API key
api_key_file = '../../credentials/alphavantage_test.txt'

# Try to open the file and read the API key
try:
    with open(api_key_file, 'r') as file:
        alpha_key = file.read().strip()  # Read the content and remove leading/trailing whitespace

    # Check if the API key is not empty
    if alpha_key:
        print("Alpha Key: Ha funcionado!")
        print("      Key:", alpha_key)
    else:
        print("The API key file is empty. Please check the file content.")

except FileNotFoundError:
    print(f"The file '{api_key_file}' was not found. Please make sure the file exists.")
except Exception as e:
    print(f"An error occurred while reading the API key: {str(e)}")

Alpha Key: Ha funcionado!
      Key: ABCDEFGHIJKLMNOP

Como la mayoría de APIs REST, para realizar una petición tenemos que preparar la URL de forma correcta para hacer la consulta. Veamos este paso poco a poco:

**Preparación de la URL para consultar a la API:**

Lo primero que necesitamos es acceder a la documentación de la API (https://www.alphavantage.co/documentation/) por si necesitamos algún parámetro adicional. Concretamente, vamos a utilizar la función **TIME_SERIES_INTRADAY** para descargar los datos de **Apple** con un **intervalo de 5 minutos**. Para ello definimos por trozos la URL:

In [35]:
function = "function=TIME_SERIES_INTRADAY"
symbol = "symbol=AAPL"
interval = "interval=5min"
key = "apikey=" + alpha_key # Aquí añadimos nuestra clave

Ahora tenemos que generar la URL completa:

In [36]:
URL = "https://www.alphavantage.co/query?"
URL = URL + '&'.join([function, symbol, interval, key])
print(URL)

https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=AAPL&interval=5min&apikey=ABCDEFGHIJKLMNOP

¿Habéis probado a entrar en el enlace de arriba? Así es como muestra el explorador (Chrome, Firefox, o el que utilicéis) los datos **JSON**, que es como la API de Alphavantage devuelve la información solicitada.

**Consulta a la API usando la URL:**

Ahora vamos a hacer la petición con la librería `requests`:

In [37]:
data_5min = requests.get(URL).json()

print(data_5min)

{'Meta Data': {'1. Information': 'Intraday (5min) open, high, low, close prices and volume', '2. Symbol': 'AAPL', '3. Last Refreshed': '2024-01-11 19:55:00', '4. Interval': '5min', '5. Output Size': 'Compact', '6. Time Zone': 'US/Eastern'}, 'Time Series (5min)': {'2024-01-11 19:55:00': {'1. open': '185.3700', '2. high': '185.5000', '3. low': '185.3700', '4. close': '185.5000', '5. volume': '2520'}, '2024-01-11 19:50:00': {'1. open': '185.4200', '2. high': '185.4500', '3. low': '185.3700', '4. close': '185.3700', '5. volume': '1687'}, '2024-01-11 19:45:00': {'1. open': '185.5000', '2. high': '185.5400', '3. low': '185.3500', '4. close': '185.4500', '5. volume': '7150'}, '2024-01-11 19:40:00': {'1. open': '185.5400', '2. high': '185.5600', '3. low': '185.5000', '4. close': '185.5000', '5. volume': '528'}, '2024-01-11 19:35:00': {'1. open': '185.5500', '2. high': '185.5600', '3. low': '185.5000', '4. close': '185.5400', '5. volume': '660'}, '2024-01-11 19:30:00': {'1. open': '185.5800', '2. high': '185.5800', '3. low': '185.5000', '4. close': '185.5600', '5. volume': '1756'}, '2024-01-11 19:25:00': {'1. open': '185.5400', '2. high': '185.5600', '3. low': '185.5100', '4. close': '185.5600', '5. volume': '2573'}, '2024-01-11 19:20:00': {'1. open': '185.5500', '2. high': '185.5800', '3. low': '185.5200', '4. close': '185.5400', '5. volume': '5084'}, '2024-01-11 19:15:00': {'1. open': '185.5200', '2. high': '185.6000', '3. low': '185.5100', '4. close': '185.5800', '5. volume': '1534'}, '2024-01-11 19:10:00': {'1. open': '185.5100', '2. high': '185.6000', '3. low': '185.5050', '4. close': '185.5200', '5. volume': '960'}, '2024-01-11 19:05:00': {'1. open': '185.5500', '2. high': '185.7100', '3. low': '185.4700', '4. close': '185.5100', '5. volume': '1903'}, '2024-01-11 19:00:00': {'1. open': '185.4950', '2. high': '185.7100', '3. low': '185.4000', '4. close': '185.5500', '5. volume': '1950'}, '2024-01-11 18:55:00': {'1. open': '185.4150', '2. high': '185.5900', '3. low': '185.3500', '4. close': '185.4950', '5. volume': '2552'}, '2024-01-11 18:50:00': {'1. open': '185.3100', '2. high': '185.4000', '3. low': '185.3100', '4. close': '185.3800', '5. volume': '2418'}, '2024-01-11 18:45:00': {'1. open': '185.4750', '2. high': '185.5000', '3. low': '185.3000', '4. close': '185.3500', '5. volume': '5511'}, '2024-01-11 18:40:00': {'1. open': '185.5600', '2. high': '185.5800', '3. low': '185.3900', '4. close': '185.4650', '5. volume': '6153'}, '2024-01-11 18:35:00': {'1. open': '185.5900', '2. high': '185.6000', '3. low': '185.5200', '4. close': '185.5200', '5. volume': '5917'}, '2024-01-11 18:30:00': {'1. open': '185.6550', '2. high': '185.7200', '3. low': '185.5900', '4. close': '185.6000', '5. volume': '1593'}, '2024-01-11 18:25:00': {'1. open': '185.5900', '2. high': '185.6800', '3. low': '185.5700', '4. close': '185.6800', '5. volume': '2132'}, '2024-01-11 18:20:00': {'1. open': '185.5900', '2. high': '185.6000', '3. low': '185.5800', '4. close': '185.5900', '5. volume': '549'}, '2024-01-11 18:15:00': {'1. open': '185.6250', '2. high': '185.6600', '3. low': '185.5900', '4. close': '185.5900', '5. volume': '901'}, '2024-01-11 18:10:00': {'1. open': '185.6550', '2. high': '185.6800', '3. low': '185.5900', '4. close': '185.6250', '5. volume': '894'}, '2024-01-11 18:05:00': {'1. open': '185.6200', '2. high': '185.7200', '3. low': '185.5900', '4. close': '185.6300', '5. volume': '510'}, '2024-01-11 18:00:00': {'1. open': '185.6350', '2. high': '185.7200', '3. low': '185.5900', '4. close': '185.6050', '5. volume': '4145'}, '2024-01-11 17:55:00': {'1. open': '185.6700', '2. high': '185.7200', '3. low': '185.6200', '4. close': '185.7200', '5. volume': '896'}, '2024-01-11 17:50:00': {'1. open': '185.6550', '2. high': '185.7200', '3. low': '185.6000', '4. close': '185.6700', '5. volume': '472'}, '2024-01-11 17:45:00': {'1. open': '185.6500', '2. high': '185.7400', '3. low': '185.5900', '4. close': '185.5900', '5. volume': '987'}, '2024-01-11 17:40:00': {'1. open': '185.6300', '2. high': '185.6900', '3. low': '185.5900', '4. close': '185.6500', '5. volume': '11925'}, '2024-01-11 17:35:00': {'1. open': '185.6100', '2. high': '185.6800', '3. low': '185.5900', '4. close': '185.6350', '5. volume': '1517'}, '2024-01-11 17:30:00': {'1. open': '185.5900', '2. high': '185.6900', '3. low': '185.5900', '4. close': '185.6000', '5. volume': '2331'}, '2024-01-11 17:25:00': {'1. open': '185.6000', '2. high': '185.6900', '3. low': '185.5900', '4. close': '185.6100', '5. volume': '6381'}, '2024-01-11 17:20:00': {'1. open': '185.6550', '2. high': '185.7000', '3. low': '185.5900', '4. close': '185.6350', '5. volume': '5483'}, '2024-01-11 17:15:00': {'1. open': '185.6850', '2. high': '185.6900', '3. low': '185.5900', '4. close': '185.6550', '5. volume': '21692'}, '2024-01-11 17:10:00': {'1. open': '185.6800', '2. high': '185.7720', '3. low': '172.7550', '4. close': '185.6800', '5. volume': '2074'}, '2024-01-11 17:05:00': {'1. open': '185.7100', '2. high': '185.7400', '3. low': '174.6150', '4. close': '185.6800', '5. volume': '3316'}, '2024-01-11 17:00:00': {'1. open': '185.6600', '2. high': '185.7600', '3. low': '185.6500', '4. close': '185.6800', '5. volume': '3898'}, '2024-01-11 16:55:00': {'1. open': '185.6800', '2. high': '185.7600', '3. low': '185.6500', '4. close': '185.6550', '5. volume': '5747'}, '2024-01-11 16:50:00': {'1. open': '185.7550', '2. high': '185.7700', '3. low': '185.5900', '4. close': '185.6800', '5. volume': '388306'}, '2024-01-11 16:45:00': {'1. open': '185.7500', '2. high': '185.8100', '3. low': '185.7400', '4. close': '185.7550', '5. volume': '5144'}, '2024-01-11 16:40:00': {'1. open': '185.7600', '2. high': '185.8300', '3. low': '185.7100', '4. close': '185.7500', '5. volume': '2841'}, '2024-01-11 16:35:00': {'1. open': '185.8200', '2. high': '185.8600', '3. low': '185.5900', '4. close': '185.7600', '5. volume': '14640'}, '2024-01-11 16:30:00': {'1. open': '185.8800', '2. high': '185.8800', '3. low': '185.8200', '4. close': '185.8300', '5. volume': '5339'}, '2024-01-11 16:25:00': {'1. open': '185.8500', '2. high': '185.9100', '3. low': '185.5900', '4. close': '185.8800', '5. volume': '214098'}, '2024-01-11 16:20:00': {'1. open': '185.5900', '2. high': '185.9000', '3. low': '185.3450', '4. close': '185.8500', '5. volume': '50388'}, '2024-01-11 16:15:00': {'1. open': '185.5900', '2. high': '185.9000', '3. low': '185.5900', '4. close': '185.9000', '5. volume': '17293'}, '2024-01-11 16:10:00': {'1. open': '185.8900', '2. high': '185.9300', '3. low': '185.5900', '4. close': '185.8700', '5. volume': '28371'}, '2024-01-11 16:05:00': {'1. open': '185.8200', '2. high': '185.9000', '3. low': '182.8150', '4. close': '185.8850', '5. volume': '94948'}, '2024-01-11 16:00:00': {'1. open': '185.5900', '2. high': '185.8900', '3. low': '185.5800', '4. close': '185.8300', '5. volume': '13521557'}, '2024-01-11 15:55:00': {'1. open': '185.6200', '2. high': '185.7700', '3. low': '185.5000', '4. close': '185.5800', '5. volume': '2021297'}, '2024-01-11 15:50:00': {'1. open': '185.4600', '2. high': '185.7000', '3. low': '184.0700', '4. close': '185.6200', '5. volume': '1038260'}, '2024-01-11 15:45:00': {'1. open': '185.4200', '2. high': '185.5300', '3. low': '185.3200', '4. close': '185.4600', '5. volume': '455955'}, '2024-01-11 15:40:00': {'1. open': '185.4600', '2. high': '185.5000', '3. low': '185.3500', '4. close': '185.4150', '5. volume': '368146'}, '2024-01-11 15:35:00': {'1. open': '185.5500', '2. high': '185.5500', '3. low': '185.3500', '4. close': '185.4700', '5. volume': '784902'}, '2024-01-11 15:30:00': {'1. open': '185.3700', '2. high': '185.5600', '3. low': '185.3700', '4. close': '185.5500', '5. volume': '362715'}, '2024-01-11 15:25:00': {'1. open': '185.3700', '2. high': '185.5300', '3. low': '185.3250', '4. close': '185.3700', '5. volume': '384040'}, '2024-01-11 15:20:00': {'1. open': '185.1350', '2. high': '185.4200', '3. low': '185.0900', '4. close': '185.3600', '5. volume': '341597'}, '2024-01-11 15:15:00': {'1. open': '185.1800', '2. high': '185.2200', '3. low': '185.0000', '4. close': '185.1350', '5. volume': '370714'}, '2024-01-11 15:10:00': {'1. open': '185.0600', '2. high': '185.2090', '3. low': '184.7550', '4. close': '185.1800', '5. volume': '521966'}, '2024-01-11 15:05:00': {'1. open': '185.2390', '2. high': '185.2500', '3. low': '185.0400', '4. close': '185.0600', '5. volume': '493163'}, '2024-01-11 15:00:00': {'1. open': '185.5400', '2. high': '185.5950', '3. low': '185.2300', '4. close': '185.2310', '5. volume': '400954'}, '2024-01-11 14:55:00': {'1. open': '185.3900', '2. high': '185.6400', '3. low': '185.3600', '4. close': '185.5400', '5. volume': '340314'}, '2024-01-11 14:50:00': {'1. open': '185.4000', '2. high': '185.5280', '3. low': '185.4000', '4. close': '185.4000', '5. volume': '316491'}, '2024-01-11 14:45:00': {'1. open': '185.4650', '2. high': '185.5400', '3. low': '185.3650', '4. close': '185.3980', '5. volume': '347618'}, '2024-01-11 14:40:00': {'1. open': '185.5800', '2. high': '185.7000', '3. low': '185.4500', '4. close': '185.4700', '5. volume': '346342'}, '2024-01-11 14:35:00': {'1. open': '185.5300', '2. high': '185.6170', '3. low': '185.4950', '4. close': '185.5890', '5. volume': '239302'}, '2024-01-11 14:30:00': {'1. open': '185.5200', '2. high': '185.6400', '3. low': '185.4400', '4. close': '185.5250', '5. volume': '399363'}, '2024-01-11 14:25:00': {'1. open': '185.1800', '2. high': '185.5400', '3. low': '185.1700', '4. close': '185.5150', '5. volume': '368695'}, '2024-01-11 14:20:00': {'1. open': '185.3050', '2. high': '185.3340', '3. low': '185.1500', '4. close': '185.1850', '5. volume': '297967'}, '2024-01-11 14:15:00': {'1. open': '185.2650', '2. high': '185.3450', '3. low': '185.2550', '4. close': '185.3000', '5. volume': '416290'}, '2024-01-11 14:10:00': {'1. open': '185.0300', '2. high': '185.3000', '3. low': '185.0250', '4. close': '185.2650', '5. volume': '276630'}, '2024-01-11 14:05:00': {'1. open': '185.1400', '2. high': '185.2350', '3. low': '184.9900', '4. close': '185.0300', '5. volume': '264069'}, '2024-01-11 14:00:00': {'1. open': '185.1600', '2. high': '185.2900', '3. low': '185.0970', '4. close': '185.1400', '5. volume': '434534'}, '2024-01-11 13:55:00': {'1. open': '184.8900', '2. high': '185.1700', '3. low': '184.8550', '4. close': '185.1520', '5. volume': '429311'}, '2024-01-11 13:50:00': {'1. open': '184.7300', '2. high': '185.0600', '3. low': '184.7100', '4. close': '184.8900', '5. volume': '604506'}, '2024-01-11 13:45:00': {'1. open': '184.7700', '2. high': '184.8300', '3. low': '184.6700', '4. close': '184.7250', '5. volume': '232476'}, '2024-01-11 13:40:00': {'1. open': '184.7000', '2. high': '184.7900', '3. low': '184.6750', '4. close': '184.7640', '5. volume': '215379'}, '2024-01-11 13:35:00': {'1. open': '184.6300', '2. high': '184.7800', '3. low': '184.6300', '4. close': '184.7000', '5. volume': '197453'}, '2024-01-11 13:30:00': {'1. open': '184.6700', '2. high': '184.8000', '3. low': '184.5600', '4. close': '184.6200', '5. volume': '247618'}, '2024-01-11 13:25:00': {'1. open': '184.6800', '2. high': '184.7350', '3. low': '184.5600', '4. close': '184.6550', '5. volume': '258552'}, '2024-01-11 13:20:00': {'1. open': '184.6150', '2. high': '184.7200', '3. low': '184.5700', '4. close': '184.6750', '5. volume': '210886'}, '2024-01-11 13:15:00': {'1. open': '184.6800', '2. high': '184.7770', '3. low': '184.5650', '4. close': '184.6200', '5. volume': '362809'}, '2024-01-11 13:10:00': {'1. open': '184.5700', '2. high': '184.6850', '3. low': '184.5400', '4. close': '184.6850', '5. volume': '181870'}, '2024-01-11 13:05:00': {'1. open': '184.5800', '2. high': '184.6700', '3. low': '184.4700', '4. close': '184.5500', '5. volume': '282049'}, '2024-01-11 13:00:00': {'1. open': '184.3200', '2. high': '184.5850', '3. low': '184.2550', '4. close': '184.5800', '5. volume': '317758'}, '2024-01-11 12:55:00': {'1. open': '184.5200', '2. high': '184.5550', '3. low': '184.2900', '4. close': '184.3200', '5. volume': '246388'}, '2024-01-11 12:50:00': {'1. open': '184.4100', '2. high': '184.5850', '3. low': '184.4100', '4. close': '184.5300', '5. volume': '298396'}, '2024-01-11 12:45:00': {'1. open': '184.3250', '2. high': '184.4400', '3. low': '184.3000', '4. close': '184.4100', '5. volume': '177410'}, '2024-01-11 12:40:00': {'1. open': '184.2250', '2. high': '184.3900', '3. low': '184.2000', '4. close': '184.3230', '5. volume': '303319'}, '2024-01-11 12:35:00': {'1. open': '184.1200', '2. high': '184.2600', '3. low': '184.0950', '4. close': '184.2300', '5. volume': '259953'}, '2024-01-11 12:30:00': {'1. open': '184.0750', '2. high': '184.2100', '3. low': '184.0750', '4. close': '184.1200', '5. volume': '1041911'}, '2024-01-11 12:25:00': {'1. open': '184.1500', '2. high': '184.2100', '3. low': '184.0300', '4. close': '184.0500', '5. volume': '191523'}, '2024-01-11 12:20:00': {'1. open': '184.1500', '2. high': '184.2950', '3. low': '184.0200', '4. close': '184.1600', '5. volume': '271848'}, '2024-01-11 12:15:00': {'1. open': '184.3120', '2. high': '184.3900', '3. low': '184.0500', '4. close': '184.1350', '5. volume': '252465'}, '2024-01-11 12:10:00': {'1. open': '184.2200', '2. high': '184.3900', '3. low': '184.1200', '4. close': '184.3200', '5. volume': '231905'}, '2024-01-11 12:05:00': {'1. open': '184.1050', '2. high': '184.2800', '3. low': '184.0600', '4. close': '184.2250', '5. volume': '249843'}, '2024-01-11 12:00:00': {'1. open': '183.9500', '2. high': '184.1150', '3. low': '183.9100', '4. close': '184.1150', '5. volume': '298042'}, '2024-01-11 11:55:00': {'1. open': '184.0050', '2. high': '184.1300', '3. low': '183.9000', '4. close': '183.9400', '5. volume': '386775'}, '2024-01-11 11:50:00': {'1. open': '184.3900', '2. high': '184.4500', '3. low': '183.9400', '4. close': '184.0100', '5. volume': '458236'}, '2024-01-11 11:45:00': {'1. open': '183.9800', '2. high': '184.4080', '3. low': '183.8350', '4. close': '184.3900', '5. volume': '429476'}, '2024-01-11 11:40:00': {'1. open': '183.9750', '2. high': '186.6000', '3. low': '183.8600', '4. close': '183.9700', '5. volume': '349023'}}}

Por supuesto, los datos están en formato JSON, por lo que es difícil interpretarlos. Vamos a transformar el JSON en un DataFrame de Pandas:

In [38]:
# Convierte el JSON en un DataFrame de Pandas
df_5min = pd.DataFrame.from_dict(data_5min['Time Series (5min)'], orient='index')

# Cambia los nombres de las columnas para eliminar los números y los puntos
df_5min.columns = [col.split('. ')[1] for col in df_5min.columns] # Prueba a comentar esta línea

df_5min.head()

                         open      high       low     close volume
2024-01-11 19:55:00  185.3700  185.5000  185.3700  185.5000   2520
2024-01-11 19:50:00  185.4200  185.4500  185.3700  185.3700   1687
2024-01-11 19:45:00  185.5000  185.5400  185.3500  185.4500   7150
2024-01-11 19:40:00  185.5400  185.5600  185.5000  185.5000    528
2024-01-11 19:35:00  185.5500  185.5600  185.5000  185.5400    660

A partir de aquí, podemos trabajar normalmente con los datos como hemos hecho con `yfinance` y `quandl`.

Hagamos ahora otro ejemplo para obtener los datos diarios. Simplemente llamamos a la función **TIME_SERIES_DAILY**:

In [39]:
function = "function=TIME_SERIES_DAILY" 
symbol = "symbol=AAPL"
key = "apikey=" + alpha_key

URL = "https://www.alphavantage.co/query?"
URL = URL + '&'.join([function, symbol, key])
print(URL)

https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=AAPL&apikey=ABCDEFGHIJKLMNOP

In [40]:
data_daily = requests.get(URL).json()
df_daily = pd.DataFrame.from_dict(data_daily['Time Series (Daily)'], orient='index')
df_daily.columns = [col.split('. ')[1] for col in df_daily.columns]
df_daily.head()

                open      high       low     close    volume
2024-01-11  186.5400  187.0500  183.6200  185.5900  49128408
2024-01-10  184.3500  186.4000  183.9200  186.1900  46792908
2024-01-09  183.9200  185.1500  182.7300  185.1400  42841809
2024-01-08  182.0850  185.6000  181.5000  185.5600  59144470
2024-01-05  181.9900  182.7600  180.1700  181.1800  62196924

Hagamos un último ejemplo para obtener información sobre Apple llamando a la función **SYMBOL_SEARCH**:

In [41]:
function = "function=SYMBOL_SEARCH" 
symbol = "keywords=Apple"
key = "apikey=" + alpha_key

URL = "https://www.alphavantage.co/query?"
URL = URL + '&'.join([function, symbol, key])
print(URL)

https://www.alphavantage.co/query?function=SYMBOL_SEARCH&keywords=Apple&apikey=ABCDEFGHIJKLMNOP

In [42]:
data = requests.get(URL).json()

df_info = pd.DataFrame.from_dict(data['bestMatches'])
df_info.columns = [col.split('. ')[1] for col in df_info.columns]
df_info

,symbol,name,type,region,marketOpen,marketClose,timezone,currency,matchScore
0,APLE,Apple Hospitality REIT Inc,Equity,United States,09:30,16:00,UTC-04,USD,0.8889
1,AAPL,Apple Inc,Equity,United States,09:30,16:00,UTC-04,USD,0.7143
2,AAPL34.SAO,Apple Inc,Equity,Brazil/Sao Paolo,10:00,17:30,UTC-03,BRL,0.7143
3,APC.DEX,Apple Inc,Equity,XETRA,08:00,20:00,UTC+02,EUR,0.7143
4,APC.FRK,Apple Inc,Equity,Frankfurt,08:00,20:00,UTC+02,EUR,0.7143
5,AGPL,Apple Green Holding Inc,Equity,United States,09:30,16:00,UTC-04,USD,0.6667
6,0R2V.LON,Apple Inc.,Equity,United Kingdom,08:00,16:30,UTC+01,USD,0.6667
7,500014.BSE,Apple Finance Limited,Equity,India/Bombay,09:15,15:30,UTC+5.5,INR,0.3846
8,48T.FRK,APPLE HOSPITALITY REIT,Equity,Frankfurt,08:00,20:00,UTC+02,EUR,0.3704
9,603020.SHH,Apple Flavor Fragrance Group Company Ltd,Equity,Shanghai,09:30,15:00,UTC+08,CNY,0.2222